/* descendent selector : select any p elements (inside) the element referenced by #products*/
#products p {
  color: #870404;
}

/* child selector : select only the child p elements (inside) the element referenced by #products*/
#products > p {
  color: #00872b;
}

/* adjacent sibling selector : select the p element that comes immediatly after and (outside) the element #products */
#products + p {
  color: #041187;
}

/* general sibling selector : select all the p elements that come immediatly after and (outside) the element #products */
#products ~ p {
  color: #5f0261;
}
