/* horizontal scroll */
.first-container {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
  border: 1px solid gray;
  overflow: scroll hidden;
  white-space: nowrap;
}

/* vertical scroll */
.second-container {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
  border: 1px solid gray;
  overflow: hidden scroll;
}
